<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030419831779-vk5iokndheebelv6726e5tu3j8jt6f16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030419831779-vk5iokndheebelv6726e5tu3j8jt6f16</string>
	<key>API_KEY</key>
	<string>AIzaSyDrXrWP0aUo2qpcMaBwN9dOYihB5WlOnSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1030419831779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emart</string>
	<key>PROJECT_ID</key>
	<string>emart-474bd</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-474bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030419831779:ios:c7badce836a94af4f99ed6</string>
</dict>
</plist>